
.announcements-wrapper {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement {
    display: flex;
    flex-direction: column;
    min-height: 80px;  
    max-width: 100%;
    gap: 5px;
}

.announcement:not(:last-child){
    border-bottom: 1px solid var(--eighth-color);
}

.announcement-title {
    font-size: 1rem;
}

.announcement-description {
    font-size: 0.8rem;
    display: -webkit-box;
    max-width: 45ch;
    line-clamp: 4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    color: var(--seventh-color);
}