.sidebar {
    background-color: var(--fourth-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.tabbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 8px;
}

.tabbar li {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    width: 80%;
}

.tabbar li:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

.tabbar .icon {
    height: 20px;
}

.logo {
    height: 50px;
}