:root {
    --primary-color: #ffffff;
    --second-color: #e2e8f0;
    --third-color: #420039;
    --fourth-color: #1992d4;
    --fifth-color: #64b6ac;
    --sixth-color:#f0b429;
    --seventh-color:#636363;
    --shadow-header: 1px 2px 14px 1px #cdd2da;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    position: relative;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 2rem;
    gap: 20px;
}

.user-name-header {
    font-weight: bold;
    font-size: 1rem;
}

.icon-header {
    height: 25px;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 60%; 
}

.search-bar {
    padding: 5px;
    flex: 1;
    background-color: var(--second-color);
    border: none;
    border-radius: 25px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content {
    grid-area: content;
    background-color: var(--second-color);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--fourth-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-areas: "sidebar header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-columns: 1fr repeat(2, 3fr);
}


.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.tabbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 8px;
}

.tabbar li {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--primary-color);
    font-weight: bold;
}



.tabbar .icon {
    height: 20px;
}

.logo {
    height: 50px;
}


.rounded-image,
.rounded-image-header, 
.rounded-image-user {
    border-radius: 50%;
}

.small-profile-image {
    width: 50px;
}

.big-profile-image {
    width: 75px;
}


.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap:10px;
}

.greeting {
    font-size: 0.8rem;
    font-weight: bold;
}

.username {
    font-size: 1.8rem;
    font-weight: bold;
}

.profile-actions {
    display: flex;
    align-items: center;
    gap:20px;
}

.action-button {
    background-color: var(--fourth-color);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width:100px;
    font-weight: 600;
}


/* Sections */
.section-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.projects-section {
    grid-area: projects-section;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.announcements-section {
    grid-area: announcements-section;
}

.trending-section {
    grid-area: trending-section;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "projects-section projects-section announcements-section"
        "projects-section projects-section announcements-section"
        "projects-section projects-section trending-section";
    gap: 20px;
    padding: 20px;
}

