:root {
    --primary-color: #ffffff;
    --second-color: #e2e8f0;
    --third-color:#420039;
    --fourth-color:#1992d4;
    --fifth-color:#64b6ac;
    --shadow-header: 1px 2px 14px 1px #cdd2da;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    position: relative;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-header);
    display: flex;
    flex-direction: column;
}


.content {
    grid-area: content;
    background-color: var(--second-color);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--fourth-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-areas: "sidebar header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-columns: 1fr repeat(2, 3fr);
}


.sidebar-logo {
    display: flex;
    align-items: center;
    gap:10px;
    
}

.tabbar {
    display: flex;
    flex-direction: column;
    gap:10px;
    list-style: none;
    padding: 8px;
}

.tabbar li {
    display: flex;
    align-items: center;
    gap: 20px;
    color:var(--primary-color);
    font-weight:bold;
}

.tabbar .icon {
    height: 20px;
}

.logo {
    height: 50px;
}


.rounded-image {
    border-radius: 50%;
}

.small-profile-image {
    width: 50px;
}

.big-profile-image {
    width: 100px;
}